body {
    background-color: white;
  }
  
  h1 {
    color: darkgrey;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: bold;
  }
  
  p {
    color:darkolivegreen;
    font-family: verdana;
    font-size: 20px;
  }